body { background: #1ad8d4; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 52px; display: flex; }
.block-validator-0 { color: #dd1f20; font-size: 20px; margin-bottom: 5px; }
.block-order-1 { color: #f869bf; font-size: 13px; margin-bottom: 5px; }
.block-email-2 { color: #d565fd; font-size: 15px; margin-bottom: 5px; }
.block-database-3 { color: #73fb00; font-size: 17px; margin-bottom: 5px; }
.block-shipping-4 { color: #979607; font-size: 18px; margin-bottom: 5px; }